<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/kayit-giris.css">

</head>
<body>
    

    <div class="container">


        <form action="/auth/giris" id="form" class="form" method="post">

            <div class="header">
                <h2>Login</h2>
            </div>

            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="example@gmail.com" id="email" />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="password" id="password"/>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <button type="sumbit">Login</button>
            <p class="message">Click for <a href="#">Registration</a></p>

        </form>

    </div>


</body>
</html>